/* .App {
  text-align: center;
} */

.headerText, .journalDate {
  text-align: center;
}

.navBar {
  text-align: center;
}
/*
.App-logo {
  height: 40vmin;
  pointer-events: none;
} */

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.journalCards {
  color: blue;
  padding: 10px;
}

#journalEntryBox {
  height: 100px;
  width: 400px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.vocabCard {
  padding: 10px;
}

#flag1 {
  position: relative;
  float: left;
  padding: 10px;
}

#flag2 {
  position: relative;
  float: right;
  padding: 10px;
}

.directions {
  position: relative;
  margin-left: 450px;
  margin-right: 300px;
}

.journalDate {
  margin-right: 60px;
}

.germanWordBox {
  margin-right: 40px;
}

.vocabDirections {
  position: relative;
  margin-left: 450px;
  margin-right: 300px;
  text-align: left;
}